@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
   --color-dark: #0d0d0d;
   --color-dark-100: rgba(13, 13, 13, 0.871);
   --color-fade: #b7ab98;
   --color-fade-100: rgba(183, 171, 152, 0.385);
   --color-active: #eb5939;

   @keyframes blinking {
      0% {
         opacity: 1;
      }
      50% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }

   --animate-blinking: blinking 1s infinite;
}

@layer base {
   * {
      box-sizing: border-box;
   }

   body {
      font-family: "Space Mono", "Roboto Mono", monospace;
      margin: 0;
      padding: 0;
      transition: all 0.3s linear;
      background-color: var(--color-dark-100);
      color: var(--color-fade);
      overflow-x: hidden;
   }
}

@layer components {
   .canvas {
      @apply grid min-h-[100dvh] grid-rows-[auto_auto_auto_auto] gap-2 px-16 py-8 w-screen items-center text-center relative;
   }

   .active {
      @apply text-active;
   }

   .caret {
      @apply relative;
   }
   .caret::after {
      @apply absolute top-0 left-0 content-[""] block w-[2px] h-9 bg-(--color-active) animate-blinking rounded-4xl;
      /* position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 2px;
      height: 2.5rem;
      background-color: var(--color-active);
      animation: blinking 1s infinite;
      border-radius: 100px; */
   }

   .correct {
      @apply text-fade;
   }

   .incorrect {
      @apply text-red-500;
   }
}
