@import "tailwindcss";

@layer base {
   * {
      box-sizing: border-box;
   }

   body {
      margin: 0;
      padding: 0;
      transition: all 0.3s linear;
      background-color: #0d0d0de5;
      color: #b7ab98;
      overflow-x: hidden;
   }
}

@layer components {
   .canvas {
      @apply grid min-h-[100dvh] grid-rows-[auto_auto_auto_auto] gap-2 p-8 w-screen items-center text-center relative;
   }
}
